* {
	box-sizing: border-box;
}

body {
	margin: 0; padding: 0;
	background-color: var(--theme-primary-tint);
	font-family: Roboto, sans-serif; color: var(--theme-text-color);
}

img, svg {
	max-width: 100%;
	height: auto;
}

.button-icon {
	padding: 5px;
	background: none; border: 0; outline: 0;
}

a.button-icon {
	padding: 0;
	font-size: 2rem;
	text-decoration: none;
}

.material-icons {
	vertical-align: middle;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
	height: 100%;
}

.flex-fill {
	flex: 1;
}
