:root {
    --theme-primary: #d1b2f3;
    --theme-primary-tint: #f2e9fe;
    --theme-black: #333;
    --theme-grey: #999;
    --theme-grey-light: #B4B4B4;
    --theme-grey-lightest: #dedede;
    --theme-white: #fff;
    --theme-shadow: #777777;
    --theme-overlay: rgba(30, 30, 30, .8);
    --theme-text-color: var(--theme-black);

    --header-size: 7vh;
}
